.wrapper {
    margin: 0 auto;
    position: relative;
}
.bar, .area, .donut {
    stroke: none;
}
.line {
    fill: none;
    stroke-width: 4;
}
.donut-block * {
    transition: filter 0.15s;
}
.arc {
    transition: opacity 0.3s;
}
.data-label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 140.62%;
    color: #444444;
    cursor: default;
}
.bar-item {
    transition: opacity 0.3s, filter 0.3s;
}


/*========================================================================== Common classes */
.mdt-charts-opacity-inactive {
    opacity: 0.6;
}

/* EXTENDED FOR SPECIFIC STYLES */
.legend-item.mdt-charts-opacity-inactive {
    opacity: 0.45;
}


/*========================================================================== Legend */
.legend-block {
    display: flex;
    height: 100%;
}
.legend-block-column {
    flex-direction: column;
}
.legend-block-row {
    flex-direction: row;
    flex-wrap: wrap;
}
.legend-block-centered {
    justify-content: center;
}
.legend-item {
    cursor: default;
    transition: opacity 0.1s;
    line-height: 1;
    /* will-change: opacity;      */
}
.legend-block-column .legend-item:not(:first-of-type) {
    margin-top: 10px;
}
.legend-item-inline {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.legend-wrapper-without-wrap .legend-item-inline:not(:first-of-type) {
    margin-left: 20px;
}
.legend-wrapper-with-wrap .legend-item-inline {
    margin: 2px;
}
.legend-item-row {
    display: flex;
}
.legend-item-row > span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.legend-label {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #444444;
    width: calc(100% - 19px);
    overflow: hidden;
    line-height: normal;
}
.legend-label-nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
}
.legend-circle {
    position: relative;
    bottom: -1px;
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin-right: 8px;
}


/*========================================================================= Tooltip */
.mdt-charts-tooltip-block {
    pointer-events: none;
    z-index: 100;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
    width: max-content;
    max-width: 500px;
}
.mdt-charts-tooltip-content {
    position: relative;
    pointer-events: none;
    font-family: "Roboto", sans-serif;
    line-height: 1;
    padding: 12px 16px;
    color: white;
    z-index: 102;
    max-width: 500px;
    background: rgba(0, 0, 0, 0.82);
    font-size: 11px;
}
.mdt-charts-tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.82) transparent transparent transparent;
}

/* Tooltip Content */
.tooltip-group {
    display: flex;
}
.tooltip-group:not(:first-of-type) {
    margin-top: 6px;
}
.tooltip-circle {
    position: relative;
    display: block;
    width: 9px;
    height: 9px;
    margin-right: 10px;
    border-radius: 50%;
}
.tooltip-text-item {
    font-family: "Roboto" sans-serif;
    font-style: normal;
    width: 100%;
    flex: 1;
    display: flex;
    font-weight: 400;
}

.mdt-charts-tooltip-line {
    stroke: #AAA;
    stroke-width: 1px;
    stroke-linecap: round;
}
.mdt-charts-tooltip-content .tooltip-head {
    font-size: 12px;
    margin-bottom: 10px;
}
.mdt-charts-tooltip-content .tooltip-texts {
    width: 100%;
}

.mdt-charts-tooltip-content .tooltip-text-item > span {
    display: block;
}
.mdt-charts-tooltip-content .tooltip-text-item > span:first-of-type {
    flex: 1;
}
.mdt-charts-tooltip-content .tooltip-text-item > span:last-of-type {
    flex: 0;
}
.tooltip-field-value {
    margin-left: 0.5rem;
    white-space: nowrap;
}


/*========================================================================= Additional */
.mdt-charts-axis .domain {
    stroke: #D2D2D2;
}
.mdt-charts-axis .tick line:first-of-type {
    stroke: #D2D2D2;
}

/* Aggregator */
.aggregator-value, .aggregator-name {
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    line-height: 1;
}
.aggregator-value {
    pointer-events: auto;
}
.aggregator-name {
    margin-top: 0.5em;
    pointer-events: auto;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Grid */
.grid-line {
    stroke: #D2D2D2;
    stroke-dasharray: 3;
}

/* Record overflow */
.record-overflow-alert {
    background-color: #FFFFFF;;
    padding: 2px 8px;
    border: 1px solid #0F6698;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 140.62%;
    color: #0F6698;
}
.record-overflow-alert .btn-close {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.3rem;
}

/* Embedded label */
.embedded-label {
    color: #444444;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140.62%;
}

/* Title */
.chart-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140.62%;
    cursor: default;
}

/* Mark dots */
.mdt-charts-dot-hidden {
    display: none;
}

/* Card */
.mdt-charts-html-chart {
    width: 100%;
    height: 100%;
}

.mdt-charts-card-wrapper {
    width: 100%;
    height: 100%;
}

.mdt-charts-card-wrapper * {
    box-sizing: border-box;
}

.mdt-charts-card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mdt-charts-card-header {
    display: flex;
    flex: 1;
    font-size: 1.3em;
}

.mdt-charts-card-icon {
    margin-right: 0.3em;
}

.mdt-charts-card-title {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mdt-charts-card-description-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
}

.mdt-charts-card-description {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.6;
}

.mdt-charts-card-value-wrapper {
    flex: 2;
    display: flex;
    align-items: center;
}

.mdt-charts-card-change-content {
    display: flex;
    font-size: 0.9em;
}

.mdt-charts-card-change-content-item:not(:last-of-type) {
    margin-right: 0.5em;
}

.mdt-charts-card-change-description-wrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mdt-charts-card-change-description-item {
    overflow: hidden;
}

.mdt-charts-card-change-description {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}