.wrapper {
    margin: 0 auto;
    width: 1000px;
    position: relative;
    margin-bottom: 100px;
}
.form {
    display: flex;
    flex-wrap: wrap;
}
.form-group {
    margin: 10px;
}
input[type="number"] {
    max-width: 100px;
}

svg {
    position: relative;
}
.bar, .area, .donut {
    fill: steelblue;
    stroke: none
}
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2;
}
.border {
    border: 1px solid black;
}
.data-label {
    font-size: 10px;
    font-family: sans-serif;
}
.legend-item {
    margin: 5px;
}
.legend-label {
    font-size: 12px;
    font-family: sans-serif;
}
.legend-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
}
.tooltip {
    font-size: 12px;
    font-family: sans-serif;
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: white;
    color: black;
    border-radius: 2px;
    z-index: 999;
}
.tooltip-chart-item {
    margin: 5px 0;
}