.main-wrapper  {
    display: flex;
    justify-content: center;
}


.form {
    display: flex;
    flex-wrap: wrap;
}
.controls-block  {
    font-family: "Roboto", sans-serif;
    border: 1px solid black;
    padding: 0 .2rem;
    box-sizing: border-box;
    margin: 1rem 0;
}
.form-group {
    margin: 10px;
    font-family: "Roboto", sans-serif;
}
.controls-group {
    display: flex;
}
.controls-section {
    margin-top: 1rem;
}
label {
    font-size: 12px;
}

.wrapper {
    margin: 0 auto;
    position: relative;
    margin-bottom: 100px;
}
.bar, .area, .donut {
    fill: steelblue;
    stroke: none
}
.line {
    fill: none;
    stroke-width: 5;
    stroke-linecap: butt;
}
.outline {
    outline: 1px solid black;
}
.data-label {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}
.legend-item {
    margin: 5px;
}
.legend-label {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}
.legend-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
    margin-right: 5px;
}
.tooltip {
    pointer-events: none;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: white;
    color: black;
    border-radius: 2px;
    z-index: 999;
    min-width: 100px;
}
.tooltip-chart-item {
    margin: 5px 0;
}
.tooltip-line {
    stroke: #b6b6b6;
    stroke-dasharray: 3;
}

.donut-aggregator {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.grid-line {
    stroke: #e0e0e0;
    stroke-dasharray: 0;
}

/* .key-axis .domain, .key-axis .tick line {
    stroke: #e0e0e0;
    stroke-width: 1;
}
.value-axis .domain {
    stroke: none;
}
.value-axis .tick line:first-of-type {
    stroke: none;
} */

.record-overflow-alert {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 3px;
    padding: 0.5rem;
}
.record-overflow-alert .btn-close {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.3rem;
}